
UnityProject/UserSettings/*

#Luban
Tools/protoc/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
/CDN/
UnityProject/LocalSave/
UnityProject/Assets/AssetRaw/AutoGen/GameConfig
UnityProject/Assets/GameScripts/HotFix/GameProto/GameConfig
UnityProject/Packages/com.code-philosophy.hybridclr/
