
UnityProject/UserSettings/Layouts/default-2021.dwlt
UnityProject/UserSettings/Search.settings

#Luban
Tools/protoc/
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json

#GameEventSourceGenerator
Tools/GameEventSourceGenerator/*/.idea
Tools/GameEventSourceGenerator/*/bin
Tools/GameEventSourceGenerator/*/obj

#openspec
openspec/

/CDN/
UnityProject/LocalSave/
UnityProject/Assets/AssetRaw/AutoGen/GameConfig
UnityProject/Assets/AssetRaw/DLL/
UnityProject/Assets/GameScripts/HotFix/GameProto/GameConfig
UnityProject/Packages/com.code-philosophy.hybridclr/
UnityProject/Bin*
UnityProject/Export*
UnityProject/UserSettings/*
.vs/
.idea/
obj/
Debug/
Release/

*.log
